#form-container {
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* #form-input { */
/* margin: 5px; */
/* display: block; */
/* } */

#continent-select,
#country-select,
#airplane-model-select,
#airport-select {
  width: 200px;
}
